@charset "utf-8";

//Global colours
$deeporange: #ff3b00;
$blue: #2fe1fc;
$gray: #333333; 
//tones orange
$orange-dark: #ff6c40;
$orange-medium: #ff9d80;
$orange-light: #ffcebf;


// Update Bulma's global variables
$family-sans-serif: 'Nunito',
sans-serif;
$grey-dark: $orange-dark;
$grey-light: $orange-light;
$primary: $gray;
$link: #808080;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: $blue;
$input-border-color: transparent;
$input-shadow: none;

//bullma imports
@import '../sass/bulma/sass/utilities/_all.sass';
@import '../sass/bulma/sass/elements/_all.sass';
@import '../sass/bulma/sass/components/_all.sass';
@import '../sass/bulma/sass/layout/_all.sass';
@import '../sass/bulma/sass/grid/_all.sass';
@import '../sass/bulma/sass/base/_all.sass';


//header
//position
.middle {
    margin-left: 30%;
}

.navbar-item img {
    max-height: 3.75rem;
    margin-left: 9%;
}



//image size and pattern
.image-pattern{
    display: contents;
    top: 20%;
}
.row{
    display: flex;
    flex-direction: row;
    position: relative;
}

.square {
    border: 1px solid rgba(234, 232, 232, 0.687);
    webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #ff6c40;
    display: block;
    margin-bottom: 20px;
    border-radius: 5px;
}

.size1{
    height: 350px;
    width: 450px;
    background: #808080;
}

.size2 {
    height: 350px;
    width: 450px;
    background: #808080;
}

.size3{
    height: 550px;
    width: 450px;
    background: #808080;
}

.size4 {
    height: 360px;
    width: 450px;
    background: #808080;
}


.square img {
    display: block;
    height: 200%;
}

.image1{
    content: url('https://res.cloudinary.com/drsayrtmp/image/upload/v1559057108/tejiri/cold-desktop-backgrounds-free-wallpaper-2324562.jpg')
}

